SECRET_KEY=change-me
DEBUG=False

PLEX_URL=http://localhost:32400
PLEX_TOKEN=

SONARR_URL=http://localhost:8989
SONARR_API_KEY=

RADARR_URL=http://localhost:7878
RADARR_API_KEY=

TAUTULLI_URL=http://localhost:8181
TAUTULLI_API_KEY=

IMDB_RATING_THRESHOLD=5.0
RECENTLY_ADDED_MONTHS=6
